
body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-weight: normal;
}

#chart {
  width: 960px;
  height: 500px;
  background: #ddd;
  margin: 0 auto;
}

text {
  pointer-events: none;
  font-size: 12px;
}

.grandparent text {
  font-weight: bold;
}

rect {
  fill: none;
  stroke: #fff;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: orange;
}

.grandparent:hover rect {
  fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

.children:hover rect.child {
  fill: #bbb;
}
